<h1 class="align-title">Clínica Seleta Cosmos</h1>
<nav>
    <section>
        <ul>
            <li><button onclick="location.href='index.php'"> </a> Home </button>|</li>
            <li><button onclick="location.href='cria_funcionario.php'"> </a> Novo Funcionário</button>|</li>
            <li><button onclick="location.href='cria_paciente.php'">Novo Paciente</button>|</li>
            <li><button onclick="location.href='lista_funcionario.php'">Listar Funcionários</button>|</li>
            <li><button onclick="location.href='lista_paciente.php'">Listar Pacientes</button>|</li>
            <li><button onclick="location.href='lista_endereco.php'">Listar Endereços</button>|</li>
            <li><button onclick="location.href='lista_todos_agendamentos.php'">Listar todos Agendamentos</button>|</li>
            <li><button onclick="location.href='lista_meus_agendamentos.php'">Listar meus Agendamentos</button>|</li>
            <li><button onclick="location.href='logout.php'">Logout</button></li>
        </ul>
    </section>
</nav>