<h1 class="align-title">Clínica Seleta Cosmos</h1>
<nav>
    <section>
        <ul>
            <li><button onclick="location.href='../public/index.php'"> </a> Home </button>|</li>
            <li><button onclick="location.href='../public/galeria.php'">Galeria</button>|</li>
            <li><button onclick="location.href='../public/cria_endereco.php'">Novo Endereço</button>|</li>
            <li><button onclick="location.href='../public/cria_agendamento.php'">Agendar Consulta</button>|</li>
            <li><button onclick="location.href='../public/login.php'">Login</button></li>
        </ul>
    </section>
</nav>