body{
    font-family: Helvetica;
    color: black;
    line-height: 1.5rem;
    background-image: url("../images/background.jpg");
    background-size: cover;
    margin: 0; /* Space from this element (entire page) and others*/
    padding: 0; /*space from content and border*/
    border: solid black;
    border-width: thin;
    display:block;
    box-sizing: border-box;
}

main{
    border: 3px;
    border-radius: 5px;
    background-color: white;
    border-color:white;
    margin: auto;
    padding:10px;
    border: 2px solid #ccc;
    font-family: Helvetica;
}

.align-login{
    width: 500px;
    height: 300px;
    background-color: white;
    border-color:gray;
    border-radius: 10px;
    padding: 20px 40px;
    margin: auto;
    border: 2px solid gray;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-250px;
    margin-top:-150px;
}

.logotipo {
    width: 50px;
    height: 50px;
}

nav button {
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: inherit;
    height: 30px;
    margin: 0;
}

nav button:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

button.buttonActive {
    font-weight: bold;
    color: blue;
}

.tabs section {
    display: none;
}

section.tabActive {
    display: block;
}

.align-title{
    text-align: center;
    font-family: Helvetica;

}

header{
    background-color: rgb(241, 235, 231);
    overflow: hidden;
    border:0.5px solid rgb(8, 7, 7);
    list-style: none;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-family: Helvetica;
}

nav{
    overflow: hidden;
    border:1px solid #ccc;
    border-width:1px 0;
    text-align: center;
    font-family: Helvetica;
    color: black;
}

nav li{
    display:inline;
}


p {
    font-family: Helvetica;
    color: black;
    font-size: 18px;
}

h1{
    font-family: Helvetica;
    color: black; 
}

h2{
    font-family: Helvetica;
    color:black; 
}

.modify-input {
    border-radius: 3px;
    border-color:gray;
}

input:focus { 
    outline:none;
    border-color:#62a1d4;
    box-shadow:0 0 10px #62a1d4;
}

span{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(136, 10, 10);
}

.align-text-description{
    border-color:black;
    border-radius: 1px;
    border: 1px solid gray;
    padding: 20px 40px;
    overflow: hidden;
}

.border-photo{
    height: 380px;
    width: 400px;
    border-radius: 5px;
    border: 3px;
    border-color:black;
    margin: 10px 0;
    margin-right: 15px;
    max-width: 100%;
    float: left;
}

@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }